html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
}

article{
    width: 100vw;
    height: 180vh;
    margin: 120px auto;
    flex-wrap: nowrap;
}
#title{
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 2rem;
    background-color: rgba(33, 0, 75, 0.8);
    border: 2px solid #C900F4;
    border-radius: 25px;
}

#poster{
    min-width: fit-content;
    min-height: fit-content;
    height: 65vh;
    width: 20vw;
}

.size{
    height: fit-content;
    font-family: 'Avalors';
    color: rgb(255, 255, 255);
}

main {
    margin-top: 20%;
    margin-bottom: 30%;
}

#mainInfo{
    width: 50vw;
    height: 65vh;
    margin: 0 0 300px 0;
}

#info{
    width: 45vw;
    text-align: left;
    margin: 40px auto;
    height: 65vh;
    padding: 2rem;
    color: #fff;
    margin-top: 5%;
}

#info p{
    background-color: rgba(33, 0, 75, 0.8);
    border: 2px solid #C900F4;
    border-radius: 25px;
    padding: 1rem;
}

.sizeP{
    height: fit-content; 
    font-family: var(--bs-body-font-family);
    color: rgb(255, 255, 255);
}

li { list-style-type: none; }


@media(max-width: 1400px){

    header{
        margin-bottom: 10rem;
    }

    footer{
        margin-top: 20rem;
    }

    #mainInfo{
        margin-bottom: 25rem;
    }
    
}

@media(max-width: 1300px){
    article{
        height: 200vh;
    }

    #mainInfo{
        margin-bottom: 25rem;
    }
}

@media(max-width: 1100px){
    #mainInfo{
        margin-bottom: 30rem;
    }

    footer{
        margin-top: 20rem;
    }
}


@media(max-width: 900px){
    article{
        height: 220vh;
    }

    header{
        margin-bottom: 7rem;
    }

    footer{
        margin-top: 20rem;
    }

    #mainInfo{
        margin-bottom: 32rem;
    }

}

@media(max-width: 793px){
    #mainInfo{
        margin-bottom: 35rem;
    }

    footer{
        margin-top: 25rem;
    }
}

@media(max-width: 730px){
    footer{
        margin-top: 28rem;
    }
    #mainInfo{
        margin-bottom: 37rem;
    }

}

@media(max-width: 650px){
    footer{
        margin-top: 33rem;
    }
    #mainInfo{
        margin-bottom: 40rem;
    }
}

@media(max-width: 560px){
    header{
        margin-bottom: 10rem;
    }

    #mainInfo{
        margin-bottom: 45rem;
    }

    footer{
        margin-top: 40rem;
    }
    .sizeP{
        width: fit-content;
        text-align: center;
    }
}

@media(max-width: 505px){

    #mainInfo{
        margin-bottom: 45rem;
    }

    footer{
        margin-top: 45rem;
    }
}

@media(max-width: 485px){
    header{
        margin-bottom: 10rem;
    }

    #mainInfo{
        margin-bottom: 50rem;
    }

    footer{
        margin-top: 50rem;
    }
    
}

@media(max-width: 400px){
    header{
        margin-bottom: 18rem;
    }
    
    #mainInfo{
        margin-bottom: 58rem;
    }

    footer{
        margin-top: 60rem;
    }
}