body{
    height: 100vh;
    width: 100vw;
}

article{
    width: 100vw;
    height: 180vh;
    margin: 50px auto;
    flex-wrap: nowrap;
}
#title{
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 2rem;
    background-color: rgba(33, 0, 75, 0.8);
    border: 2px solid #C900F4;
    border-radius: 25px;
}

#poster{
    min-width: fit-content;
    min-height: fit-content;
    height: 65vh;
    width: 20vw;
}

.size{
    height: fit-content;
    font-family: 'Avalors';
    color: rgb(255, 255, 255);
}

#mainInfo{
    width: 50vw;
    height: 65vh;
    margin: 0 0 250px 0;
}

#info{
    width: 45vw;
    text-align: left;
    margin: 10px auto;
    height: 65vh;
    padding: 2rem;
    
    color: #fff;
}

#info p{
    background-color: rgba(33, 0, 75, 0.8);
    border: 2px solid #C900F4;
    border-radius: 25px;
    padding: 1rem;
}

.sizeP{
    height: fit-content; 
    font-family: var(--bs-body-font-family);
    color: rgb(255, 255, 255);
}


@media(max-width: 1400px){

    header{
        margin: 0 0 100px 0 ;
    }

    footer{
        margin: 180px 0 0 0 ;
    }

    #mainInfo{
        margin-bottom: 300px;
    }
    
}

@media(max-width: 1300px){
    article{
        height: 200vh;
    }

    #mainInfo{
        margin-bottom: 400px;
    }
}



@media(max-width: 900px){
    header{
        margin-bottom: 100px;
    }

    footer{
        margin-top: 300px;
    }

    #mainInfo{
        margin: 0 auto 450px auto;
    }

}

@media(max-width: 730px){
    footer{
        margin-top: 500px;
    }
    #mainInfo{
        margin-bottom: 550px;
    }

}

@media(max-width: 650px){
    footer{
        margin-top: 600px;
    }
    #mainInfo{
        margin-bottom: 650px;
    }
}

@media(max-width: 560px){
    header{
        margin-bottom: 200px;
    }

    #mainInfo{
        margin-bottom: 750px;
    }

    footer{
        margin-top: 750px;
    }
    .sizeP{
        width: fit-content;
        text-align: center;
    }
}

@media(max-width: 505px){

    #mainInfo{
        margin-bottom: 850px;
    }

    footer{
        margin-top: 900px;
    }
}