body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/bg/bg-reduzido.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.fotinhos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.redes {
  padding: 10px;
}

.bi-linkedin {
  margin: 0px 0px 0px 10px;
}
