/* início da formatação das características da página */
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    @font-face {
        font-family: "Avalors";
        src: url("/Projeto-Sci-Flix/pages/login/font/Avalors.otf");
    }

    @font-face {
        font-family: "Roblox Black Round";
        src: url("/Projeto-Sci-Flix/pages/login/font/Roblox\ Black\ Round.otf");
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(/Projeto-Sci-Flix/pages/login/imagens-login/bg-principal.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    a, input, button, a:active, a:visited, a:focus, a:link, button:active, button:visited, button:focus, button:target, .btn:active,
    .btn:focus, .btn:target, .navbar-toggler:focus, .nav-link, .btn:visited {
        text-decoration: none;
        outline: none;
        box-shadow: none;
        outline-style: none;
    }

/* fim da formatação das características da página */

/* início da formatação do header */
    .navbar-header {
        width: 100%;
        padding: 20px;
    }
    
    .logo {
        width: 250px;
        height: 42px;
    }
    
    .navbar-toggler .navbar-toggler-icon {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin: 5px 0;
        position: relative;
    }
    
    .nav-link, p.h1, p.display2, .preco, .preco span, .mes, p.h6, p.h4, a, .telefone span, .lingua {
        font-family: "Montserrat";
        font-style: normal;
        color: #ffffff;
    }
/* fim da formatação do header */

/* início da formatação da section login */
    #section-login {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        margin-top: 0.5%;
        margin-bottom: 5%;
    }

    #div-form {
        width: 60%;
        height: 440px;
        background-color: white;
        margin-left: 20%;
        padding: 20px;
        border-radius: 20px;
        border: 2.5px solid #c900f4;
    }

    .titulo-form {
        font-family: "Avalors";
        font-size: 1.3em;
        line-height: 35px;
        padding: 2px;
        margin-bottom: 15px;
    }

    .titulo-form span {
        color: #c900f4;
    }

    .label {
        font-size: large;
    }

    #usuario {
        margin-bottom: 15px;
        width: 50%;
        padding: 5px;
        border-color: violet;
        color: #c900f4;
    }

    #senha {
        margin-bottom: 15px;
        width: 50%;
        padding: 5px;
        border-color: violet;
        color: #c900f4;
    }

    #botao-cadastro {
        margin-top: 5px;
        border-radius: 10px;
        border: 1px solid #c900f4;
        background-image: linear-gradient(45deg, purple, gold);
    }
/* fim da formatação da section login */

/* início da formatação do footer */
    .padding {
        padding: 15px;
    }

    .telefone {
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
        color: #ff00f4;
        padding: 20px 95px;
    }
    
    .telefone span {
        font-weight: bold;
        font-size: 21px;
        line-height: 23px;
        color: #ff00f4;
    }
    
    a, .lingua {
        font-weight: normal;
        letter-spacing: 0.2px;
        line-height: 23px;
    }
    
    .lingua {
        margin: 20px 0px;
        padding: 10px;
        border: 3px solid #ff00f4;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        line-height: 23px;
    }
    
    ul a:hover {
        color: #c900f4;
    }
    
    a svg:hover {
        color: #ff00f4;
    }
/* fim da formatação do footer */